* {
box-sizing: border-box;
text-decoration: none;
line-height: 1.5em;
font-family: "Segoe UI", "Helvetica Neue", "Liberation Sans", "Roboto", sans-serif;
}

html {
direction: ltr;
font-size: 18px;
}

body {
background-color: #f9f9f9;
color: #000000;
margin: 8px 8px 8px 8px; 
}

h1, h2, h3 {
font-weight: 600;
}

p, ul, ol, li, code, table, blockquote, figure {
margin: 8px 0 8px 0;
}

a {
color: #0066ff;
}

blockquote {
border-left: 4px solid #0066ff;
margin: 0 0 0 0;
background-color: #e9f4ff;
}

table {
border: 1px solid #dddddd;
border-spacing: 0;
width: 100%;
}

thead {
background-color: #eeeeee;
}

th, td {
padding: 4px 4px 4px 4px;
text-align: left;
}

.badan {
margin: 0 auto 0 auto;
max-width: 720px;
}

figure>img, .badan>p>img, article>p>img { max-width: 100%; }

figure {
margin: 24px 0 24px 0;
padding: 0 0 0 0;
background: #ffffff;
border: 1px solid #eeeeee;
}

blockquote, figcaption, header, footer, article, .header, .katalog, .padding {
padding: 16px 16px 16px 16px;
}

#markdown-toc {
margin: 48px 0 48px 0;
list-style-type: none;
padding: 0 0 0 0;
}

#markdown-toc > ul {
list-style-type: none;
padding: 0 0 0 32px;
}

article, footer {
margin-top: 8px;
}

.katalog {
overflow-x: scroll;
overflow-y: hidden;
white-space: normal;
display: flex;
}

.figure {
margin: 0 16px 0 0;
height: 100%;
white-space: normal;
overflow: auto;
}

.figure>img {
object-fit: cover;
object-position: center;
width: 128px;
height: 128px;
border-radius: 50%;
border: 4px solid #0066FF;
padding: 2px 2px 2px 2px;
}

.caption {
margin: 8px 0 0 0;
text-align: center;
color: #555555;
font-size: 0.75rem;
}

.highlighter-rouge {
background-color: #f9f9f9;
border: 1px solid #eeeeee;
padding: 8px;
}

code {
font-family: monospace !important;
}

article, .katalog {
background-color: #ffffff; 
border-radius: 4px 4px 4px 4px; 
border: solid 1px #dddddd; 
}
