:root {
    --pd: 8px;
    --putih: #FFFFFF;
    --hitam: #000000;
    --abu: #F9F9F9;
    --abu1: #EEEEEE;
    --abu2: #DDDDDD;
    --aksen: #0066FF;
    --sepia: #F9F5E9;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    line-height: 1.5em;
    font-family: "Inter", "Segoe UI", "Helvetica Neue", "Ubuntu", "Liberation Sans", "Roboto", sans-serif;
}

html {
    direction: ltr;
    font-size: 16px;
}

body {
    background-color: var(--sepia);
    color: var(--hitam);
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

h1,
h2,
h3,
h4 {
    font-weight: 600;
    margin: calc(var(--pd) * 3) 0 calc(var(--pd) * 3) 0;
    line-height: 1.2em;
    font-family: 'Source Serif 4','Times New Roman','Nimbus Roman',serif;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child {
    margin-top: 0;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 16px;
}

p,
ul,
ol,
li,
code,
table,
blockquote,
figure {
    margin: calc(var(--pd) * 2) 0 calc(var(--pd) * 2) 0;
}

a {
    color: var(--aksen);
}

blockquote {
    border-left: calc(var(--pd) / 2) solid var(--aksen);
    margin: 0 0 0 0;
    background-color: var(--abu);
}

table {
    border: 1px solid var(--abu2);
    border-spacing: 0;
    width: 100%;
}

thead {
    background-color: var(--abu1);
}

th,
td {
    padding: calc(var(--pd) / 2) calc(var(--pd) / 2) calc(var(--pd) / 2) calc(var(--pd) / 2);
    text-align: left;
}

.badan {
    margin: 8px auto 8px auto;
}

.badan>p>img,
article>p>img,
article>p>a>img,
section>p>img {
    max-width: 100%;
}

figure {
    margin: calc(var(--pd) * 2) 0 calc(var(--pd) * 2) 0;
    padding: 0 0 0 0;
    background-color: var(--abu1);
    text-align: center;
}

figure img {
    max-width: 100%;
}

figure>a>img {
    margin-top: 0;
    margin-bottom: 0;
}

blockquote,
figcaption,
footer,
.padding,
.comment {
    padding: var(--pd) var(--pd) var(--pd) var(--pd);
}

article,
section {
    max-width: 480px;
    margin: 0 auto 0 auto;
}

.header {
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    z-index: 999;
}

.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 4px 4px 4px 4px;
}

#markdown-toc {
    margin: calc(2 * var(--pd)) 0 calc(2 * var(--pd)) 0;
    list-style-type: none;
    padding: 0 0 0 0;
}

#markdown-toc>ul {
    list-style-type: none;
    padding: 0 0 0 calc(5 * var(--pd));
}

article,
footer,
section {
    padding: 16px 16px 16px 16px;
}

footer {
    border-top: 1px solid #eeeeee;
}

.katalog {
    white-space: normal;
}

.figure {
    padding: 8px 8px 8px 8px;
    white-space: normal;
    position: relative;
}

.figure>img {
    object-fit: cover;
    object-position: center;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border: 4px solid #0066ff;
    display: block;
    line-height: 0;
    padding: 4px 4px 4px 4px;
}

.caption {
    margin: var(--pd) 0 0 0;
    text-align: center;
    color: #555555;
    font-size: 0.75rem;
}

.highlighter-rouge {
    background-color: var(--abu);
    border: 1px solid var(--abu1);
    padding: var(--pd) var(--pd) var(--pd) var(--pd);
}

code {
    font-family: monospace !important;
}

.galeri {
    display: flex;
    flex-flow: wrap;
    padding-top: 4px;
    padding-left: 4px;
    max-width: 480px;
    margin: 0 auto 0 auto;
}

.thumb {
    position: relative;
    margin-right: 4px;
    margin-bottom: 4px;
}

.menu {
    display: none;
}

@media only screen and (max-width: 959px) {
    .laci {
        width: 100%;
    }
}

@media only screen and (min-width: 960px) {
    .laci {
        width: 25%;
    }
}

.thumb:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.thumb img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.thumb .keterangan {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    color: var(--putih);
    font-size: 14px;
    padding: var(--pd);
    background-image: linear-gradient(transparent, var(--hitam));
}

.penghalang {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

header {
    margin: 0 0 0 0;
}

header svg {
    display: block;
    margin: 0 auto 0 auto;
}

.vspace {
    display: block;
    width: 100%;
    height: calc(var(--pd) * 5);
}

p,
li,
th,
td,
code,
blockquote,
figcaption {
    font-size: 16px;
}

pre {
    overflow: auto;
}

.overflow-x-auto {
    overflow-x: auto;
}

.margin-atas {
    margin-top: calc(var(--pd) * 5);
}

.margin-bawah {
    margin-bottom: calc(var(--pd) * 5);
}

.mb-1 {
    margin-bottom: 8px;
}

article img {
    margin-top: calc(var(--pd) * 2);
    margin-bottom: calc(var(--pd) * 2);
}

.lemari {
    padding: 0 0 0 0;
    margin: 0 auto 0 auto;
}

.rak {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: stretch;
}

.item {
    padding: 16px 16px 16px 16px;
    color: #000000;
}

.item a {
    color: #000000;
}

.item a:hover {
    text-decoration: underline;
}

.item p {
    overflow: hidden;
    max-height: calc(6*1em);
    white-space: normal;
    line-height: 1.25em;
    margin: 0 0 0 0;
    border-bottom: 2px solid #00000025;
}

.search-container {
    position: relative;
    margin: 0 auto 0 auto;
}

.search-box {
    margin: 0 auto 0 auto;
}

.search-input-container {
    margin: 0 0 0 0;
    padding: 8px 16px 8px 16px;
}

input,
textarea,
#search-input {
    width: 100%;
    background-color: #ffffff;
    background-image: none;
    padding: 6px 6px 6px 6px;
    margin: 0 0 0 0;
    outline: none;
    font-size: 14px;
    border: 1px solid #eeeeee;
    box-shadow: none;
}

#search-input {
    text-align: center;
}

input:focus,
textarea:focus,
#search-input:focus {
    border-color: #cccccc;
}

#search-results {
    position: absolute !important;
    z-index: 998 !important;
    left: 0;
    right: 0;
    padding: 0 16px 0 16px;
}

#results-container {
    list-style: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    max-height: 480px;
    overflow-y: auto;
}

#results-container li {
    padding: 16px 16px 16px 16px;
    margin: 0 0 0 0;
    background-color: #f9f9f9;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 1px solid #eeeeee;
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    padding: 8px 8px 8px 8px;
    justify-content: flex-start;
}

.panel {
    overflow-y: auto;
}

.left-panel {
    background-color: #000000;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.right-panel {
    background-color: #ffffff;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.informasi {
    background-color: #f9f9f9;
    padding: 16px 16px 16px 16px;
    margin: 16px 0 16px 0;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #eeeeee;
}

.profile-picture-container {
    width: 48px;
    margin-right: 12px;
}

.profile-picture {
    border: 2px solid;
    padding: 2px 2px 2px 2px;
    margin: 0 0 0 0;
    display: block;
    line-height: 0;
    width: 100%;
    border-radius: 50%;
}

.notifikasi {
    background-color: #ff6600ca;
    text-align: center;
    padding: 6px 6px 6px 6px;
    position: sticky;
    top: 0;
    z-index: 1;
    font-weight: bold;
    backdrop-filter: saturate(180%) blur(20px);
}

.notifikasi * {
    color: #ffffff;
}

.business-container {
    padding: 6px 6px 6px 6px;
}

.business-card {
    padding: 16px 16px 16px 16px;
    background-color: #22ddaa;
    color: #ffffff;
    text-align: center;
    margin: 0 auto 0 auto;
    max-width: 300px;
    font-weight: bold;
}

.minimal-container {
    padding: 8px 8px 8px 8px;
    margin: 0 auto 0 auto;
    max-width: 360px;
}

.header-menu {
    padding: 6px 6px 6px 6px;
}

.header-menu a {
    font-size: 14px;
    margin-right: 14px;
}

.header-menu a:first-child {
    font-size: 14px;
    margin-right: 14px;
}

button {
    width: 100%;
    background: #0066ff;
    color: #ffffff;
    border: none;
    padding: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
}

.border-bawah {
    border-bottom: 1px solid #eeeeee;
}

.p2 {
    padding: 16px 16px 16px 16px;
}

.header-container-2 {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.header-content-2 {
    padding: 16px 16px 16px 16px;
    margin: 0 auto 0 auto;
    max-width: 480px;
}

.header-item-2 {
    display: flex;
    background-color: #11111190;
    border-radius: 12px 12px 12px 12px;
    box-shadow: inset 0 0 0 1px hsla(0,0%,100%,.05), inset 0 1px 0 0 hsla(0,0%,100%,.2), inset 0 -1px 0 0 hsla(0,0%,100%,.1), 0 1px 3px rgba(0,0,0,.05), 0 1px 2px rgba(0,0,0,.1);
    backdrop-filter: blur(12px);
    border: 1px solid #00000060;
    padding: 16px 16px 16px 16px;
}

.header-item-2 a {
    width: 25%;
    text-align: center;
    color: #ffffff;
}
