* {
  box-sizing: border-box;
  font-family: "Segoe UI", "Arial", "Helvetica", "Liberation Sans", Roboto, sans-serif;
  line-height: 1.35em;
  text-decoration: none;
}

body {
background-color: #ffffff;
padding: 0 0 0 0;
margin: 0 0 0 0;
}

h1, h2, h3, p, li, table, figcaption, nav {
color: #000000;
}

p, li, table {
margin: 16px 0 16px 0;
}

h1, h2, h3, h4 {
margin: 48px 0 24px 0;
}

h1 {
font-size: 28px;
}

h2 {
font-size: 24px;
}

h3 {
font-size: 18px;
}

article {
margin: 48px 0 48px 0;
}

p, th, td, li, button, input, figcaption, code {
font-size: 16px;
}

@media (max-width: 600px) {
    p, th, td, li, button, input, figcaption, code {
        font-size:20px !important;
    }
}

a {
color: #0066ff;
}

blockquote {
border-left: 4px solid #0066ff;
padding: 16px 16px 16px 16px;
margin: 0 0 0 0;
background: #e9f4ff;
}

table {
border: 1px solid #dddddd;
border-spacing: 0;
width: 100%;
}

thead {
background: #eeeeee;
}

th, td {
padding: 4px 4px 4px 4px;
text-align: left;
}

.hlink > ul {
list-style-type: none;
word-spacing: 16px;
padding: 0 0 0 0;
margin: 0 0 0 0;
}

.hlink > ul > li {
display: inline;
line-height: 1.5em;
}

.header {
padding: 16px 16px 16px 16px;
background: #f9f9f955;
margin: 0 0 0 0;
border-bottom: 1px solid #eeeeee;
}

.badan {
max-width: 600px;
margin: 0 auto 0 auto;
}

figure>img, .badan>p>img, article>p>img { max-width: 100%; }

figure {
margin: 24px 0 24px 0;
padding: 0 0 0 0;
background: #ffffff;
border: 1px solid #eeeeee;
}

figcaption {
padding: 16px 16px 16px 16px;
}

#markdown-toc {
margin: 48px 0 48px 0;
list-style-type: none;
padding: 0 0 0 0;
}

#markdown-toc > ul {
list-style-type: none;
padding: 0 0 0 32px;
}

footer {
margin: 48px 0 48px 0;
}

.katalog {
overflow-x: scroll;
overflow-y: hidden;
white-space: normal;
display: flex;
}

.figure {
margin: 0 16px 0 0;
height: 100%;
white-space: normal;
overflow: auto;
}

.figure>img {
object-fit: cover;
object-position: center;
width: 128px;
height: 128px;
border-radius: 50%;
border: 4px solid #0066FF;
padding: 2px 2px 2px 2px;
}

.caption {
margin: 8px 0 0 0;
text-align: center;
font-size: 14px !important;
color: #555555;
}

.avatar {
border-radius: 50%;
}

.padding {
padding: 16px 16px 16px 16px;
}

.highlighter-rouge {
    background-color: #f9f9f9;
    border: 1px solid #eeeeee;
    padding: 8px;
}

code {
  font-family: monospace !important;
}
